<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--vue js 불러오기-->
    <style>
        #app{
            width: 600px;
            margin: 30px auto;
        }
        table, tr, td, th{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center; 
        }
        th{
            background-color: beige;
            width: 150px;
        }

        td{
            width: 300px;
            text-align: left;
        }
        .check-btn{
            margin-left:15px;
        }
    </style>
</head>
<body>
    <div id="app"> <!--html 코드는 id가 app인 태그 안에서 작업-->
        <table>
            <tr>
                <th>사번</th>
                <td>
                    <span v-if="empNo == ''"> <!--추가화면에서는 보여지고-->
                    <input type="text" v-model="info.empNo">
                    <button class="check-btn">중복체크</button>
                    </span>
                    <span v-else> <!--empNo가 채워져있을때는 디스어블하게-->
                        <input type="text" v-model="info.empNo" disabled>
                    </span>
                </td>
                
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" v-model="info.eName"></td>
            </tr>
            <tr>
                <th>직책</th>
                <td><input type="text" v-model="info.job"></td>
            </tr>
            <tr>
                <th>부서</th>
                <td>
                    <label><input type="radio" value="10" v-model="info.selectDept">ACCOUNTING</label>
                    <label><input type="radio" value="20" v-model="info.selectDept">RESEARCH</label>
                    <label><input type="radio" value="30" v-model="info.selectDept">SALES</label>
                    <label><input type="radio" value="40" v-model="info.selectDept">OPERATING</label></td>
                    <!-- v-model도 중복 허용 막는 역할 해줌 -->
                </tr>
        </table>
        <div>
            <button @click="fnAdd()" v-if="empNo == ''">추가</button>
            <button @click="fnEdit()" v-else>수정</button>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return { // 변수 선언
                // 변수 - (key : value)
                info : {selectDept : "10" },// 처음에 선택되있게
                empNo : "" // 받아줄 사번 변수 만들기
            };

        },
        methods: {
            // 함수(메소드) - (key : function())
            fnAdd: function () {
                let self = this;
                if(self.info.empNo.length != 4){
                    alert("사번은 4글자 입니다.");
                    return;
                }
                $.ajax({
                    url: "http://localhost:3009/emp/insert",
                    dataType: "json",
                    type: "GET",
                    data: self.info,
                    success: function (data) { // 서버에서 보내준값은 data에 담겨온다
                        alert("추가되었습니다");
                        location.href="emp-list.html";
                    }
                });
            },
            fnInfo: function () { // 저장되었던 정보 불러오기
                let self = this;
                
                $.ajax({
                    url: "http://localhost:3009/emp/info", 
                    dataType: "json",
                    type: "GET",
                    data: {empNo : self.empNo}, // 조회 할 사번 보내주기 empNo라는 이름으로 self를 통해 조회한 값 담아서 보냄
                    success: function (data) { // 서버에서 보내준값은 data에 담겨온다
                        console.log(data);
                        self.info = data.info; // 서버에서 받아온 직원 정보 바로 담기
                    }
                });
            },
            fnEdit : function(){
                let self = this;
                let param = self.info; //인포 자체가 맵이니까
                $.ajax({
                    url: "http://localhost:3009/emp/update",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) { // 서버에서 보내준값은 data에 담겨온다
                        alert("수정되었습니다");
                        location.href="emp-list.html";
                    }
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            const queryParams = new URLSearchParams(window.location.search);
            self.empNo = queryParams.get('empNo') || ''; //empNo라는 변수에 바로 담기게 됨
       
            if(self.empNo != ""){ // 빈값이 아니면 실행
                self.fnInfo();
            }
        }
    });

    app.mount('#app');
</script>